*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Josefin Sans", sans-serif;
}

.out {
  width: 100%;
  height: 100vh;
  background-color: black;
  position: relative;
}

.lotto-container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 30rem;
  background-color: #fff;
  display: grid;
  place-items: center;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(255, 255, 0, 0.8);
}

.list {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.list-item,
.last {
  background-color: aqua;
  width: 5rem;
  height: 5rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.last {
  background-color: beige;
}

.btn {
  padding: 0.5rem 2rem;
  margin-right: 1rem;
  font-size: 1.8rem;
  font-family: "Josefin Sans", sans-serif;
}
